body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.site{
    height: 100%;
}

/*Top navigation*/
.topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: black;
}
.topnav li a{
    text-decoration: none;
    color: white;
    display: block;
    border-bottom: 1px solid green;
    border-right: 1px solid green;
    line-height: 60px;
}
.topnav li a:hover{
    background: gray;
}

/*Side navigation*/
.sidenav{
    height: 100%;
}

.sidenav ul{
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

.sidenav li a{
    line-height: 60px;
    display: block;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid gray;
    border-left: 3px solid cyan;
}

.sidenav li a:hover{
    background: grey;
}

@media screen and (min-width:30em){
    .site{
        height: 100%;
        max-width: 65em;
        margin: 0 auto;
        display: grid;
        grid-template-areas:'top top'
                            'left main';       
        grid-template-columns:1fr 2fr;
        grid-template-rows: auto 1fr;
    }
    
    .top{
               grid-area:top;
    }
    .topnav ul{
        display: flex; 
        justify-content: space-between;
 
    }
    .sidenav{
        height: 100%;
    } 
    
    
    .side{
   
        grid-area:left;
    }
    
    .footer{
        grid-area:footer;
    }
    }
    

