<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>

    <div class="site">
        <div class="top">
                        <div class="topnav">
      <ul>
        <li>
          <a href="#">
              Dashboard
          </a>
        </li>

        <li>
          <a href="#">Contacts</a>
        </li>

        <li>
          <a href="#">Features</a>
        </li>

        <li>
          <a href="#">Normal User</a>
        </li>

        <li>
          <a href="#">Admin</a>
        </li>
      </ul>
    </div>
            
        </div>

        <div class="side">
            
                <div class="sidenav">
      <ul>
        <li>
          <a href="#">
              Dashboard
          </a>
        </li>

        <li>
          <a href="#">Contacts</a>
        </li>

        <li>
          <a href="#">Features</a>
        </li>

        <li>
          <a href="#">Normal User</a>
        </li>

        <li>
          <a href="#">Admin</a>
        </li>
      </ul>

    </div>
            
            
        </div>
        
    </div>
       
</body>
</html>